@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --animate-error-fade: errorFade 1.5s ease-out forwards;
}

@keyframes errorFade {
  0% {
    opacity: 0;
    color: #dc2626;
  }
  30% {
    opacity: 1;
    color: #dc2626;
  }
  100% {
    opacity: 0.6;
    color: orangered;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
